@model IEnumerable<MvcMusicStore.Models.Artist>
@{
    ViewBag.Title = "Index";
}

<div id="DivGrid">
    @{
        var grid = new WebGrid(source: Model);
        @grid.GetHtml(htmlAttributes: new { id = "DataTable" }, columns: grid.Columns(
                          grid.Column("ArtistId"),
        grid.Column("Name"),  
        grid.Column("", header: "Edit", format: @<text>@Html.ActionLink("Edit", "Edit", "Album", new { id = item.ArtistId }, new { target = "_blank" })</text>)
        ));
    }

</div>


