@{
    ViewBag.Title = "BruteForceAttacks";
}
<h3>
    <div>
        <b>Hacker Got Password:</b> @ViewBag.result<br />
        <b>Time Taken in sec:</b> @ViewBag.TimeTaken<br />
    </div>
</h3>
<h2>BruteForceAttacks</h2>

